html, body, #root{
  background-color:  rgb(233, 231, 231);
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


.home{
  background-image: url(./assets/bg2.jpg);
  background-position: 0% 40%;
}

#log-in-div{
  display: flex;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
